body {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/13/18/09/nebula-2501324_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center-component-exclusive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* App Page Layout */

.app-page-container {
  width: 80%;
  height: 100vh;
  min-width: 900px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: auto;
}

/* GEN PAGE CONTAINTER */

.page-container {
  width: 95%;
  margin: auto;
}

/* FORMS */

.form-container {
  width: 50%;
  max-width: 600px;
  border-radius: 25px;
  border: solid black 1px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.514);
}

.form-header {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.form-link-container {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
}

.no-resize {
    resize: none;
}

/* ALERTS */

.error-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: medium;
}

.clear-alert {
  float: right;
  padding: 0;
  border: none;
  background: none;
}

/* ICONS */

.med-sized-icon {
  height: 25px;
  width: 25px;
}

/* Side Bars */

.side-bar-container {
  width: calc(100% - 2px);
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: black;
}

.side-bar {
  width: calc(98% - 2px);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(129, 218, 245, 0.568);
  border-left: 1px solid black;
  border-right: 1px solid black;
  align-items: center;
}

.side-bar ul {
  list-style: none;
}

/* Nav */

.nav-bar-logo-container {
    width: 150px;
    height: 150px;
}

.nav-bar-logo {
    height: 100%;
    width: 100%;
}

.nav-bar {
    width: 80%;
}

.nav-button {
    margin-top: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    background: none;
    font-weight: bold;
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.733);
    color: white;
}

/* MyProfile */

.my-profile-container {
  margin-top: 5px;
  width: calc(100%-4px);
  border: 2px solid black;
  background: rgb(62, 117, 134);
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 150px 9fr;
  border-radius: 75px;
  overflow: hidden;

}

.my-profile-picture {
  width: calc(100%-2px);
  height: 100%;
  border-right: 2px solid black;
}

.my-profile-details {
  width: 100%;
  display: grid;
  grid-template-rows: 30px 1fr;
}

.my-profile-details-header {
  width: 100%;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  font-size: large;
}

.my-profile-details-content {
  height: 100%;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.589);
  padding-right: 75px;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

/* DEV BLOCK ITEMS */

.dev-block-check {
  width: 90%;
  background: white;
  margin: auto;
}